.html {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #3f6891;
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  margin-left: 1rem;
}

.headerLogo {
  margin-right: 1rem;
}

.header h1 {
  color: white;
  font-size: 35px;
}

.stylingHeaderLogo {
  margin-top: 10px;
}

i {
  color: white;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}

.btn {
  padding: 10px;
  font-size: 20px;
  background-color: #3f6891;
}

.loading {
  background-color: #3f6891;
  min-height: 100vh;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.loading h1 {
  margin-top: 0;
  color: white;
  font-size: 51px;
  text-align: center;
  padding-top: 20vh;
}

.loadingLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading p {
  text-align: center;
  color: white;
  font-size: 28px;
  margin-top: 8rem;
}

@-webkit-keyframes animate-logo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes animate-logo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.stylingLoadingLogo {
  -webkit-animation: animate-logo 2s infinite;
  animation: animate-logo 2s infinite;
}

.styleApp {
  position: relative;
  z-index: 200;
}

.styleMessageContainer {
  position: absolute;
  top: 9rem;
  width: 100%;
}

.styleMessage p {
  color: white;
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: justify;
}

.styleMessage {
  background-color: #3f6891;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}

.fa-times-circle {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 0.7rem;
}
