.header {
  background-color: #3f6891;
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  margin-left: 1rem;
}

.headerLogo {
  margin-right: 1rem;
}

.header h1 {
  color: white;
  font-size: 35px;
}

.stylingLogo {
  margin-top: 10px;
}
